<%if !request.xhr?%>
  <div class="CenterNav">
    <h2 class="b-head">Transfer Department Users</h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <div class="create-user">
      <div class="cu-c1">
  <%#=link_to image_tag("../images/add_user.jpg", :width=>"17", :height=>"17", :title=>"Create New User")+"Create New User", new_department_user_path %>
      </div>
      <%=hidden_field_tag :transfer_user_department_id, ""%>
      <div class="cu-c2">Select Department:
        <%= select(:transfer,:department_id, Department.all.collect{ |s| [truncate(s.name, :length => 50), s.id] },:selected => @department_id ,:prompt => "SELECT YOUR DEPARTMENT") %>
      </div>
    </div>
    <div class="manage-user box">
    <%end%>
    <div id="div_ajax">
      <div id="div_dept_users">
      <%if @users && !@users.empty?%>
        <%@users.each do |user|%>
          <div class="manage-user-row box" >
            <%=check_box_tag "transfer[users][#{user.id}]", user.id  %>
            <div class="mu-c1">
              <%=link_to image_tag("../images/img_user1.jpg", :width=>"60", :height=>"60"), user_path(:id=>user.id), :title=>"The Melaka  State Office of Land and Mines"%>
            </div>
            <div class="mu-c2">
              <p class="head1">
                <%=link_to content_tag(:b, user.full_name), "javascript:void(0);"%><br/>
                <%=user.ic_number%><br/>
                <%=link_to content_tag(:b, user.email), "javascript:void(0);", :title=>user.email%><br/>
                <%#=user.department.first.name%>
              </p>
            </div>
          </div>
        <%end%>
        <div class="form-sec-row">
          <label class="text">&nbsp;</label>
          <span class="in-box">

            <input type="button" name="Transfer" value="Transfer" id="transfer_department" class="btn2"></input>
          </span>
        </div>


      <%else%>
        No User Data Available
      <%end%>
        </div>
    </div>
    <%if !request.xhr?%>
    </div>
  </div>
<%end%>
