<div id="post_message_<%= @message.id %>" class="postedMsg-row box">
  <div class="postedMsg-img">
    <a href="#" title="Social Welfare Department of Melaka"><img src="images/img_user2.jpg" alt="Image" width="60" height="60" /></a>
  </div>
  <div class="postedMsg-txt">
    <p class="head1"><a href="#" title="Social Welfare Department of Melaka"><b><%= @message.message %> </b></a> <br /> </p>
    <div class=""></div>
    <div id="message_field_<%= @message.id %>" ><%#= text_field_tag('version',:cols => 20,:onsubmit => "changeIfValid(this);")%></div>

    <p class="PM-des">
      by  <%= @message.user.first_name %> &nbsp; - &nbsp; <%= time_ago_in_words(@message.created_at) %> ago
      <% if @message.message_comments.count == 0 %>
        &nbsp; - &nbsp;
        <a value="<%= @message.id %>" id ="message_<%= @message.id %>" title="Comment" onclick= "insert_text_field(id)">Comment    </a>
      <%end%>
    </p>


    <div id ="comments_section_message_<%= @message.id %>">

    </div>
    <% if @message.message_comments.count > 0 %>
      <div class="PM-cmts box">

        <h4>Comments</h4>
        <% @message.message_comments.each do |comment| %>
          <div class="clear"></div>
          <div class="PM-cmts-row box">
            <div class="PM-cmts-img">
              <a title="Melaka"><img src="images/img_user3.jpg" alt="Image" width="30" height="30" /></a>
            </div>
            <div class="PM-cmts-txt">
              <p><%= comment.comments %></p>
              <p class="PM-des">by <a title="Melaka "> <%= comment.user.first_name %> </a> &nbsp; - &nbsp; <%= time_ago_in_words(comment.created_at) %> ago</p>
            </div>
          </div>
        <%end%>
        <div class="clear"></div>
        <div class="PM-cmts-post">
          <p class="formRow">
            <label for="cmts" class="ui-watermark-label-pass"></label>
            <textarea name="cmts" id="post_comment_<%= @message.id %>" rows="" cols=""></textarea>
          </p>
          <input type="submit" id="post_comment" onclick='submit_post_comment(<%=@message.id%>)' class="btn2 in-btn2" value="Post" title="Post" name="post" />
        </div>
      </div>
    <%end%>

  </div>
</div>