<div class="CenterNav">
  <h2 class="b-head">Resource Transport Approval List</h2>
  <div id="div_ajax" >
    <%if @resource_transportation_bookings && !@resource_transportation_bookings.empty?%>
      <%  @resource_transportation_bookings.each do |resource_transportation_booking|%>

        <div class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Name</b>
            </div>
            <div class="m-c-second">
              <%= User.find_by_id(resource_transportation_booking.requester_id).username %>
            </div>
            <div class="m-c3">
              <% if resource_transportation_booking.status == "New"%><b><font color='#FFA500'><%= "#{resource_transportation_booking.status}" %></font></b><% elsif resource_transportation_booking.status == "Approved" || resource_transportation_booking.status == "Processed"  %>  <b><font color='#329C20'><%= "#{resource_transportation_booking.status}" %> </font></b><% elsif resource_transportation_booking.status == "Declined" || resource_transportation_booking.status == "Returned" || resource_transportation_booking.status == "Cancelled" %>  <b><font color='red'><%= "#{resource_transportation_booking.status}" %> </font></b><% end %>
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>Car Type</b>
            </div>
            <div class="m-c-second">
              &nbsp;<%= SubCategory.find_by_id(resource_transportation_booking.sub_category_id).name%>
            </div>
            <% time = Setting.find_by_id(1) %>
            <% if time.present? %>
              <% temp = time.timeline.strftime("%H:%M:%S")%>
              <%dt = DateTime.parse(temp)%>
              <% seconds = dt.hour * 3600 + dt.min * 60 %>
              <div class="m-c3">
                <% if @approve.present?  && @approve.user_id == current_user.id && resource_transportation_booking.created_at > (Time.now-seconds) %>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "New" %>
                      <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <% elsif @approver_second.present?  && @approver_second.user_id == current_user.id && resource_transportation_booking.created_at > (Time.now-2*seconds)%>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "New" %>
                      <% val = (resource_transportation_booking.created_at > (Time.now-seconds))  %>
                      <% if !val.present? %>
                        <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                      <%end%>
                    <%end%>
                  </span>
                <%elsif current_user.is_department_admin? &&  !@approve.present? %>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "New" %>
                      <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_resource_manager?%>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "Approved" %>
                      <%= link_to "Process",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%elsif resource_transportation_booking.user_returned_status? && resource_transportation_booking.status != "Returned" && resource_transportation_booking.status != "Declined" %>
                      <%= link_to "Return",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%end%>
              </div>
            <%else%>
              <div class="m-c3">
                <% if @approve.present?  && @approve.user_id == current_user.id %>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "New" %>
                      <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <% elsif @approver_second.present?  && @approver_second.user_id == current_user.id %>
                  <span class="in-box">
                    <% if !val.present? %>
                      <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_department_admin? &&  !@approve.present? %>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "New" %>
                      <%= link_to "Approve",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_resource_manager?%>
                  <span class="in-box">
                    <% if resource_transportation_booking.status == "Approved" %>
                      <%= link_to "Process",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%elsif resource_transportation_booking.resource_returned_from_user? && resource_transportation_booking.status != "Returned" && resource_transportation_booking.status != "Declined" %>
                      <%= link_to "Return",request_view_resource_transportation_bookings_path(:id => resource_transportation_booking.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%end%>
              </div>
            <%end%>
          </div>
        </div>
        <div class="clear"></div>
        <div class="manage-user-rows box">
          <div class="m-c1"><b>Ticket No</b>
          </div>
          <div class="m-c-second">
            <font color="red"><b>&nbsp;<%= resource_transportation_booking.id%>/<%=Time.now.year%></b></font>
          </div>
          <div class="m-c3">
            <b><font color="#336699"><%= link_to "Show Info",resource_transportation_booking_path(:id => resource_transportation_booking.id), :method=>:get%></font></b>
          </div>
        </div>
        <div class="clear"></div>

        <div class="manage-user-rows box">
          <div class="m-c1"><b>From Date</b>
          </div>
          <div class="m-c-second">
            &nbsp;<%= resource_transportation_booking.requested_from_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
          </div>
          <div class="m-c3">
          </div>
        </div>
        <div class="clear"></div>

        <div class="manage-user-rows box">
          <div class="m-c1"><b>To Date</b>
          </div>
          <div class="m-c-second">
            &nbsp;<%= resource_transportation_booking.requested_to_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
          </div>
          <div class="m-c3">
          </div>
        </div>
        <div class="clear"></div>

        <div class="manage-user-rows box">
          <div class="m-c1"><b>Date of Application</b>
          </div>
          <div class="m-c-second">
            &nbsp;<%= resource_transportation_booking.created_at.strftime("%d-%m-%Y %H:%M %p")%>
          </div>
          <div class="m-c3">
          </div>
        </div>
        <div class="clear"></div>
        <h2 class="b-head"></h2>
      </div>
    <%end%><%end%>
</div>

</div>