<%= form_for(@facility_ict_service) do |f| %>
 <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec">
    <div class="form-sec-row">
      <label class="text">service Name <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.text_field :name%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Port <span style=color:red>*</span></label>
      <span class="in-box">
        <%= f.text_field :port%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">Is Active</label>
      <span class="in-box">
        <%= f.check_box :is_active%>
      </span>
    </div>
    <div class="form-sec-row">
      <label class="text">&nbsp;</label>
      <span class="in-box">
        <%= f.submit :class=>"btn2", :value=>@facility_ict_service.new_record? ? "Create" : "Update"%>
      </span>
    </div>
  </div>

<%end%>
