<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet Portal Melaka State Government</title>
  </head>
  <body style="background:#ccc; padding:0; margin:10px;">
    <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#fff;">
      <tr>
        <td>
          <%= image_tag("#{APP_URL}/images/nl_header.png", :height => "94",:width=>"650", :alt => "Logo", :style=>"display:block;") %>
        </td>
      </tr>
      <tr>
        <td><table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td>
                <h1 style=" font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#0e385f; margin:0; padding:10px 0 0px 0;">Hi <%= @user.full_name%>!,</h1>
                <p style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;margin:0; padding:10px 0;">Welcome to Intranet Portal Melaka State Government. <br/>
                  <b><%=@user.full_name%></b> has Assigned as Approver First for <b><%=  @department.name%></b> by <b><%= @dept_admin.full_name %></b>. <br/>
                </p>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("#{APP_URL}/images/nl_footer.png", :alt => "footer", :style=>"display:block;") %>
        </td>
      </tr>
    </table>

  </body>
</html>
