<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet Portal Melaka State Government</title>
  </head>
  <% @sub_cat_type = SubCategory.find_by_id(@requisition.sub_category_id)%>
  <%@user_name = User.find_by_id(@requisition.user_id)%>

  <body style="background:#ccc; padding:0; margin:10px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#fff;">
      <tr>
        <td>
          <%= image_tag("#{APP_URL}/images/nl_header.png", :height => "94",:width=>"650", :alt => "Logo", :style=>"display:block;") %>
        </td>
      </tr>
      <tr>
        <td><table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td>
                <h1 style=" font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#0e385f; margin:0; padding:10px 0 0px 0;">Hi&nbsp;&nbsp;<%=@user.username%>,</h1>
              </td>
            </tr>
            <tr>
              <td><br/></td>
            </tr>

            <tr>
              <td style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; border-bottom:1px solid #CCC;border-top:1px solid #CCC; padding:10px 0;"><%=@user_name.username%> has been requested for Others Resource - <%=  @sub_cat_type.name %> Booking...</td>
            </tr>

            <tr>
              <td><br/><br/></td>
            </tr>

            <tr>
              <td style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; border-bottom:1px solid #CCC;border-top:1px solid #CCC; padding:10px 0;">
                <table width="750" border="2" cellspacing="3" cellpadding="3" align="center"><h3><font color="red"><center><u>Requisition Others - <%=  @sub_cat_type.name %> Booking Details</u></center></font></h3><br/>
                  <tr>
                    <td>
                      <font color="#369"><b><u>User Details:-</u></b></font>
                    </td>
                    <td>
                    </td>
                  </tr>

                  <% @dept = ResourceBooking.find_by_department_id(@requisition.department_id) %>
                  <% @dept_name = Department.find(@dept.department_id)%>
                  <% @agency = Agency.find(@dept_name.agency_id) %>
                  <%@facility = Facility.active.find_all_by_resource_id(@requisition.resource_id)%>
                  <%@details_resource = Resource.active.find_by_id(@requisition.resource_id)%>

                  <% if @agency.present? %>
                    <tr>
                      <td><b>Agency Name</b></td>
                      <td><b>&nbsp;<%= @agency.name  %></b></td>
                    </tr>
                  <%end%>
                  <tr>
                    <td><b>Department Name</b></td>
                    <td><b>&nbsp;<%= @dept_name.name  %></b></td>
                  </tr>
                  <% if @manager.present? %>
                    <tr>
                      <td><b>Resource Manager</b></td>
                      <td><b>&nbsp;<%= @manager.first_name  %></b></td>
                    </tr>
                  <%end%>
                  <tr>
                    <td><b>First Name</b></td>
                    <td><b>&nbsp;<%= @ordered_user.first_name %></b></td>
                  </tr>
                  <tr>
                    <td><b>Last Name</b></td>
                    <td><b>&nbsp;<%= @ordered_user.last_name %></b></td>
                  </tr>
                  <tr>
                    <td><b>Ic Number</b></td>
                    <td><b>&nbsp;<%= @ordered_user.ic_number %></b></td>
                  </tr>
                  <tr>
                    <td><b>Email</b></td>
                    <td><b>&nbsp;<%= @ordered_user.email %></b></td>
                  </tr>


                  <tr>
                    <td>
                      <font color="#369"><b><u>Application Details:-</u></b></font>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Ticket No</b></td>
                    <td><font color="red" size="3"><b>&nbsp;<%= @requisition.id %>/<%=Time.now.year%></b></font></td>
                  </tr>
                  <tr>
                    <td><b>Date of Application</b></td>
                    <td>&nbsp;<%= @requisition.created_at.strftime("%a %d %b %Y %I:%M %p")%></td>
                  </tr>
                  <tr>
                    <td>
                      <b>Type of Resource</b>
                    </td><td>&nbsp;<%= @sub_cat_type.name %></td>
                  </tr>
                  <tr>
                    <td><b>Quantity</b></td>
                    <td>&nbsp;<%= @requisition.quantity %>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Description</b>
                    </td>
                    <td>&nbsp;<%= @requisition.description %>
                    </td>
                  </tr>
                 
                  <tr>
                    <td><b>Booking Status</b></td>
                    <td>&nbsp;<% if @requisition.status == "New"%><b><font color='#FFA500'><%= @requisition.status %></font></b><% elsif @requisition.status == "Approved" || @requisition.status == "Processed"  %>  <b><font color='#329C20'><%= @requisition.status %> </font></b><% elsif @requisition.status == "Declined" || @requisition.status == "Returned"  %>  <b><font color='red'><%= @requisition.status %> </font></b><% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Requested From Date</b>
                    </td>
                    <td>&nbsp;<%= @requisition.requested_from_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>Requested To Date</b>
                    </td>
                    <td>&nbsp;<%= @requisition.requested_to_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
                    </td>
                  </tr>
                  <% if @details_resource.present?%>
                    <tr>
                      <td><font color="#369"><b><u>Resource Details:-</u></b></font></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><b> Resource Name</b></td>
                      <td><b>&nbsp;<%=@details_resource.resource_no%></b></td>
                    </tr>
                    <tr>
                      <td><b> Location</b></td>
                      <td><b>&nbsp;<%=@details_resource.location%></b></td>
                    </tr>
                    
                  <%end%>
                  <% if @facility.present? %>
                    <tr>
                      <td><font color="#369"><b><u>Facility Details:-</u></b></font></td>
                      <td></td>
                    </tr>
                    <% @facility.each do |facility| %>
                      <tr>
                        <td><b> Facility Name</b></td>
                        <td><b>&nbsp;<%=facility.name%></b></td>
                      </tr>
                      <tr>
                        <td><b> Quantity</b></td>
                        <td><b>&nbsp;<%=facility.total_qty%></b></td>
                      </tr>
                    <%end%>
                  <%end%>



                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("#{APP_URL}/images/nl_footer.png", :alt => "footer", :style=>"display:block;") %>
        </td>
      </tr>
    </table>

  </body>
</html>
