<div class="CenterNav">
  <h2 class="b-head">Manage Out Stations</h2>
  <div id="div_ajax" >
    <%if @outstations && !@outstations.empty?%>
      <% @outstations.each do |outstation|%>

        <div id="user_box_<%= outstation.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Name</b></div>
            <div class="m-c-second">
              <%= User.find_by_id(outstation.user_id).username %>
            </div>
            <div class="m-c3">
              <% if outstation.status == "New"%><b><font color='#FFA500'><%= "#{outstation.status}" %></font></b> <% elsif (outstation.status == "Verified" || outstation.status == "Approved" || outstation.status == "Recommended") %>  <b><font color='#329C20'><%= "#{outstation.status}" %> </font></b><% elsif outstation.status == "Declined" || outstation.status == "Returned" %>  <b><font color='red'><%= "#{outstation.status}" %> </font></b><% end %>
            </div>
          </div>
          <div class="clear"></div>
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Ticket No</b>
            </div>
            <div class="m-c-second">
              <font color="red"><b>&nbsp;<%= outstation.id%>/<%=Time.now.year%></b></font>
            </div>
            <div class="m-c3">
              <b><font color="#336699"><%= link_to "Show Info",user_path(:id => outstation.id), :method=>:get%></font></b>
            </div>
          </div>
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Place Name</b>
            </div>
            <div class="m-c-second">
              &nbsp;<%= outstation.placename %>
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>From Date</b>
            </div>
            <div class="m-c-second">
              &nbsp;<%= outstation.from_date%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>To Date</b>
            </div>
            <div class="m-c-second">
              &nbsp;<%= outstation.to_date%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>Date of Application</b>
            </div>
            <div class="m-c-second">
              &nbsp;<%= outstation.created_at.strftime("%d-%m-%Y %H:%M %p")%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>
          <h2 class="b-head"></h2>
        </div>
      <%end%><%end%>
  </div>
</div>
