<div class="CenterNav">
  <h2 class="b-head">User Service Information</h2>
  <div id="div_ajax" >
    <%if @user_services && !@user_services.empty?%>
      <% @user_services.each do |user_service|%>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Service Level</b></div>
            <div class="m-c-second">
              <%= u = ServiceLevel.find(user_service.service_level_id).stage %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Classification Level</b></div>
            <div class="m-c-second">
              <%= u = Classification.find(user_service.classification_id).title %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Service Standards</b></div>
            <div class="m-c-second">
              <%= u = ServiceStandard.find(user_service.salary_standard_id).name %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Appointment</b></div>
            <div class="m-c-second">
              <%= u = Appointment.find(user_service.appointment_id).name %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Grade </b></div>
            <div class="m-c-second">
              <%= user_service.grade_id %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Position</b></div>
            <div class="m-c-second">
              <%= user_service.position %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Official Address</b></div>
            <div class="m-c-second">
              <%= user_service.office_address %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Official Number</b></div>
            <div class="m-c-second">
              <%= user_service.office_number %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Official Fax</b></div>
            <div class="m-c-second">
              <%= user_service.office_fax %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Postal Code</b></div>
            <div class="m-c-second">
              <%= user_service.postal_code %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>City</b></div>
            <div class="m-c-second">
              <%= user_service.city %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>State</b></div>
            <div class="m-c-second">
              <%= State.find(user_service.state).name %>
            </div>
          </div>
        </div>



        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>First Appointment of Public Service</b></div>
            <div class="m-c-second">
              <%= user_service.first_appointment_to_public_service %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>First Appointment of Present Position</b></div>
            <div class="m-c-second">
              <%= user_service.first_appointment_to_present_position %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Promotion to Present Position</b></div>
            <div class="m-c-second">
              <%= user_service.promotion_to_present_grade %>
            </div>
          </div>
        </div>
        <div id="user_box_<%= user_service.id %>" class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Confirmation Date</b></div>
            <div class="m-c-second">
              <%= user_service.confirmation_date %>
            </div>
          </div>
        </div>


      <%end%>
    <%end%>
  </div>
</div>