<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head">Complaint / Issue Log - Computers Booking for Approval</h2>

    <%= form_for(@complaint_computer, :url=>complaint_computer_path(:id=>@complaint_computer.id), :method => :put) do |f|%>
  <%#=error_messages%>
      <div class="clearfix">&nbsp;</div>
  <%#*<div class="CenterNav">%>

      <div class="form-sec">
  <%# if @manager.present? %>
        <font color="#369" size="3"><br/><b><u>Applicant Information :-</u><br/><br/></b></font>


        <% @dept = Department.find_by_id(current_department) %>
        <% @agency = Agency.find_by_id(@dept.agency_id) %>
        <% @complaint_computer = ComplaintComputer.find_by_id(params[:id]) %>
        <% @user = User.find_by_id(@complaint_computer.user_id) %>
        <div class="form-sec-row">
          <label class="text">Agency Name</label>
          <span class="in-box"><%= @agency.name  %></span>
        </div>
        <div class="form-sec-row">
          <label class="text">Department Name</label>
          <span class="in-box">
            <%= @dept.name  %></span>
        </div>
        <div class="form-sec-row">
          <label class="text">User Name</label>
          <span class="in-box"><%= @user.username %></span>
        </div>
        <div class="form-sec-row">
          <label class="text">Contact Mobile</label>
          <span class="in-box"><%= @user.contact_mobile  %></span>
        </div>

        <div class="form-sec-row">
          <label class="text">IC Number</label>
          <span class="in-box">
            <%= @user.ic_number %></span>
        </div>

        <div class="form-sec-row">
          <label class="text">E - Mail</label>
          <span class="in-box">
            <%= @user.email %></span>
        </div>

        <h2 class="b-head"></h2>

        <div class="form-sec-row">
          <label class="text">Ticket No</label>
          <span class="in-box"><font color="red" size="3"><b>&nbsp;<%= @complaint_computer.id %>/<%=Time.now.year%></b></font></span>
        </div>

        <div class="form-sec-row">
          <label class="text">Date of Application</label>
          <span class="in-box"><%= @complaint_computer.created_at.strftime("%a %d %b %Y %I:%M %p")%></span>
        </div>

      </div>
      <h2 class="b-head"></h2>

      <div class="form-sec-row">
        <label class="text">Type of Complaint</label>
        <span class="in-box">
          <%  @name = ComplaintType.find_by_id(@complaint_computer.complaint_type_id)%>
          <%  @system_access_name = SystemAccess.find_by_id(@complaint_computer.system_access_id)%>
          <%  @system_model_name = SystemModelType.find_by_id(@complaint_computer.system_model_type_id)%>
          <%= @name.name%>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text">Item / Type of System</label>
        <span class="in-box">
          <%= @system_access_name.name %></span>
      </div>
      <div class="form-sec-row">
        <label class="text">Model Item / System</label>
        <span class="in-box">
          <%= @system_model_name.name %></span>
      </div>


      <div class="form-sec-row">
        <label class="text">Reason</label>
        <span class="in-box">
          <%= @complaint_computer.reason %></span>
      </div>
      <div class="form-sec-row">
        <label class="text">Serial No</label>
        <span class="in-box">
          <%= @complaint_computer.serial_no %></span>
      </div>


      <h2 class="b-head"></h2>
      <font color="#369" size="3"><br/><b><u>Officer Action :-</u><br/><br/></b></font>

      <% if @complaint_computer.status == "New" %>
        <div class="form-sec-row">
          <label class="text">Action to be taken<span style=color:red>*</span></label>
          <span class="in-box">

            <%= f.radio_button :action_taken, true, {:id => "radio_click"} %> <%= f.label :action_taken, "External" %>
            <%= f.radio_button :action_taken, false, {:id => "radio_click"} %> <%= f.label :action_taken, "Internal"  %>
          </span>
        </div>
        <div id="officer">
          <div class="form-sec-row">
            <label class="text">Vendor Name<span style=color:red>*</span></label>
            <span class="in-box">
              <%= f.select(:vendor_id, Vendor.all.collect {|p| [ p.name, p.id ] },:prompt => "Select Vendor Name", :style=> "width:132%;") %>
            </span>
          </div>
        </div>
        <div class="form-sec-row">
          <label class="text">Status<span style=color:red>*</span></label>
          <span class="in-box">
            <%= f.select :status, options_for_select([["Select Status", -1], ["Approved", "Approved"], ["Declined", "Declined"]], @complaint_computer.status) %>

          </span>
        </div>
        <%@dept = Department.find(default_department)%>
        <%@users = @dept.users%>
        <div class="form-sec-row">
          <label class="text">Forward To<span style=color:red>*</span></label>
          <span class="in-box">
            <%= f.select(:forward_to, @users.collect {|p| [ p.username, p.id ] },:prompt => "Select User") %>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text">Remarks<span style=color:red>*</span></label>
          <span class="in-box">
            <%= f.text_area :remarks, :rows =>4%></span>
        </div>
        <div class="form-sec-row">
          <div class="CenterNav">
            <label class="text">&nbsp;</label>
            <span class="in-box">
              <%= f.submit :value=>'Update', :class=>"btn2"%>
            </span>
          </div>
        </div>

      <% elsif @complaint_computer.status == "Approved" %>
        <% if @complaint_computer.forward_to.present? %>

          <div class="form-sec-row">
            <label class="text">Action to be taken<span style=color:red>*</span></label>
            <span class="in-box">

              <%= f.radio_button :action_taken, true, {:id => "radio_click"} %> <%= f.label :action_taken, "External" %>
              <%= f.radio_button :action_taken, false, {:id => "radio_click"} %> <%= f.label :action_taken, "Internal"  %>
            </span>
          </div>
          <div id="officer">
            <div class="form-sec-row">
              <label class="text">Vendor Name<span style=color:red>*</span></label>
              <span class="in-box">
                <%= f.select(:vendor_id, Vendor.all.collect {|p| [ p.name, p.id ] },:prompt => "Select Vendor Name", :style=> "width:132%;") %>
              </span>
            </div>
            <div class="form-sec-row">
              <label class="text">Given Date<span style=color:red>*</span></label>
              <span class="in-box">
                <%=f.text_field :given_date, :value=>@complaint_building_asset && @complaint_building_asset.given_date!=nil ? @complaint_building_asset.given_date : nil ,:readonly=>true%></span>
            </div>
            <div class="form-sec-row">
              <label class="text">Receipt Date<span style=color:red>*</span></label>
              <span class="in-box">
                <%=f.text_field :receipt_date, :value=>@complaint_building_asset && @complaint_building_asset.receipt_date!=nil ? @complaint_building_asset.receipt_date : nil ,:readonly=>true%>
              </span>
            </div>
            <div class="form-sec-row">
              <label class="text">Comments<span style=color:red>*</span></label>
              <span class="in-box">
                <%= f.text_area :comments, :rows =>4%></span>
            </div>
          </div>
          <div class="form-sec-row">
            <label class="text">Status<span style=color:red>*</span></label>
            <span class="in-box">
              <%= f.select :status, options_for_select([["Select Status", -1],["Processed", "Processed"], ["Declined", "Declined"]], @complaint_computer.status) %>
            </span>
          </div>

          <% name = User.find_by_id(@complaint_computer.forward_to) %>
          <div class="form-sec-row">
            <label class="text">Forward To</label>
            <span class="in-box">
              <%= name.username %>
            </span>
          </div>
          <div class="form-sec-row">
            <label class="text">Remarks</label>
            <span class="in-box">
              <%= @complaint_computer.remarks %></span>
          </div>
          <div class="form-sec-row">
            <div class="CenterNav">
              <label class="text">&nbsp;</label>
              <span class="in-box">
                <%= f.submit :value=>'Update', :class=>"btn2"%>
              </span>
            </div>
          </div>
        <%end%>

      <% else %>
        <div class="form-sec-row">
          <label class="text">Status</label>
          <span class="in-box">
            <% if @complaint_computer.status == "New"%><b><font color='#FFA500'><%= @complaint_computer.status %></b></font><% elsif @complaint_computer.status == "Approved" || @complaint_computer.status == "Processed"  %>  <b><font color='#329C20'><%= @complaint_computer.status %></b></font><% elsif @complaint_computer.status == "Declined" || @complaint_computer.status == "Returned"  %>  <b><font color='red'><%= @complaint_computer.status %></b></font><%end%></span>
        </div>
        <% name = User.find_by_id(@complaint_computer.forward_to) %>
        <div class="form-sec-row">
          <label class="text">Forward To</label>
          <span class="in-box">
            <%= name.username %>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text">Remarks</label>
          <span class="in-box">
            <%= @complaint_computer.remarks %></span>
        </div>
        <h2 class="b-head"></h2>
        <div class="form-sec-row">
          <label class="text">&nbsp;</label>
          <span class="in-box">
            <%= link_to "Back", :back, :class=>"btn1 mr2"%>
          </span>
        </div>
      <%end%>

    </div>
  </div>

<%end%>





<script type="text/javascript">

  $(document).ready(function(){

    $('#radio_click').live
    ('click', function() {

      var radio_value = $(this).val();

      if( $('#radio_click').is(':checked') ==true) {

        alert($('#radio_click').is(':checked'))
        $("#officer").show();
      }

      else {
        alert($('#radio_click').is(':checked'))
        $("#officer").hide();
      }
    });
    if( $('#radio_click').is(':checked') ==true) {
      $("#officer").show();
    }

    if( $('#radio_click').is(':checked') ==false) {
      $("#officer").hide();
    }


  });
</script>