
<div class="clearfix"></div>
<div class="CenterNav">
  <h2 class="b-head">Account Settings</h2></br>
  <div class="form-sec">
    <%= form_for(@user, :as => :user, :url => registration_path(:user), :html => { :method => :put}) do |f| %>
      <%=  f.error_messages %>
      <!--BODY START-->
      <div class="change_password">
        <h2 class="b-head-acc-set">Change Password</h2>
        <div class="form-sec-row">
          <%= f.label :current_password, :class=>"text"%>
          <span class="in-box">
            <%= f.password_field :current_password, :size => 30, :autofocus => true, :class=>'passfiled'%><br/>
            <i>(we need your current password to confirm your changes)</i>
          </span>
        </div>
        <div class="form-sec-row">
          <%= f.label :password,raw("New password"), :class=>"text"%>
          <span class="in-box">
            <%= f.password_field :password, :size => 30, :autofocus => true, :class=>'passfiled'%>
          </span>
        </div>
        <div class="form-sec-row">
          <%= f.label :password_confirmation, :class=>"text"%>
          <span class="in-box">
            <%= f.password_field :password_confirmation, :size => 30, :autofocus => true, :class=>'passfiled'%>
          </span>
        </div>
        <div class="form-sec-row">
          <label class="text">&nbsp;</label>
          <span class="in-box">
            <%= f.submit "Submit" ,:class=>"btn2"%>
          </span>
        </div>
      </div>
    <%end%>
    <%= form_for :user,  :url => update_account_setting_users_path,:method=>:post do |ff|%>
      <h2 class="b-head-acc-set">Widgets</h2>
      <div class="form-sec-row">
        <%= ff.check_box :profile_status %>
        <%= ff.label :profile_status, raw('Profile Status'), :class=>"text" %>
        <i class="state_abbr">(Please Check if your Profile Status as Private)</i>
      </div>
      <div class="form-sec-row">
        <%= ff.check_box :widget_one %>
        <%= ff.label :widget_one, raw('Weather Widget'), :class=>"text" %>
      </div>
      <div class="form-sec-row">
        <%= ff.check_box :widget_two %>
        <%= ff.label :widget_two, raw('Prayer Widget'), :class=>"text" %>
      </div>
      <%= hidden_field_tag :user_id, (current_user.id)%>
      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box">
          <%= ff.submit :class=>"btn2"%>
        </span>
      </div>
    <%end%>
    <%= form_for(@role_membership, :as => :role_membership, :url => update_default_department_users_path(:role_membership), :html => { :method => :post}) do |fff| %>
      <%if current_user.departments && current_user.departments.length > 1%>
        <h2 class="b-head-acc-set">Change Default Department</h2>
        <div class="form-sec-row">
          <%= fff.label :department_id, raw('Select Department'), :class=>"text" %>
          <%=select(:default,:department_id, current_user.departments.collect {|p| [ p.name, p.id ] },:selected => default_department,:prompt => "SELECT A DEPARTMENT") %>
        </div>
        <div class="form-sec-row">
          <label class="text">Set as default</label>
          <span class="in-box">
            <%= fff.check_box :default_dept, :checked=>true %>
          </span>
        </div>

        <div class="form-sec-row">
          <label class="text">&nbsp;</label>
          <span class="in-box">
            <br/> <%= fff.submit "Save Changes", :class=>"btn2"%>
          </span>
        </div>
      <%end%>
    <%end%>
    <% if current_user.is_super_admin? %>
      <% form_for(@setting, :as => :setting, :url => update_timeline_for_approver_settings_path, :html => { :method => :post}) do |ffff|  %>
        <h2 class="b-head-acc-set">Time Line for Approval</h2>
        <div class="form-sec-row5">
          <label class="text"><b>Hours & Minutes</b></label>
          <span class="in-box5">
            <%= ffff.time_select :timeline, :default=>Time.now.change(:hour => 12, :min => 00) %>
          </span>
        </div><br/>
        <div class="form-sec-row">
          <label class="text">&nbsp;</label>
          <span class="in-box">
            <%= ffff.submit "Submit",:class=>"btn2"%>
          </span>
        </div>
      <%end%>
    <%end%>
  </div>
</div>