<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <%= form_for(@emergency_references, :url => emergency_reference_users_path, :html => { :method => :put, :multipart => true }) do |f| %>
      <%=f.error_messages%>
      <div class="clearfix">&nbsp;</div>
      <%if !current_user.is_super_admin?%>
      <table><tr><td><b><font color="#858585">Step 1 -></font></b></td><td><font color="#858585">Step 2-></font></td><td><h4><b><font color="#336699">Step 3-></font></b></h4></td><td><font color="#858585">Step 4-></font></td><td><font color="#858585">Step 5</font></td></tr></table>
      <h2>Head of Department Information</h2>
      <div class="form-sec-row">
         <%= f.label :name,raw("Head of Department Name<span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
         <%= current_user.departments.first.name%>
        </span>
      </div>
    <div class="form-sec-row">
       <%= f.label :name,raw("Head Department Position Title<span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
         <%dept_name = RoleMembership.find_by_department_id_and_role_id(current_user.departments.first.id,2)%>
          <%position = User.find(dept_name.user_id)%>
          <%user_service = UserService.find(dept_name.user_id) if !position%>
          <%if user_service !=nil %>
          <%=user_service.position%>
          <%end%>
        </span>
      </div>
      <div class="form-sec-row">
         <%= f.label :name,raw("Head Department Email<span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%=position.email%>
        </span>
      </div>
      <%end%>
      <h2>Emergency Reference </h2>
        <%= f.hidden_field :user_id, :value=>current_user.id %>
      <div class="form-sec-row">
      <%= f.label :name,raw("Name<span style=color:red>*</span>"), :class=>"text"%>
      <span class="in-box">
        <%= f.text_field :name, :size => 30, :autofocus => true%>
      </span>
    </div>
  <div class="form-sec-row">
      <%= f.label :address,raw("Address<span style=color:red>*</span>"), :class=>"text"%>
      <span class="in-box">
        <%= f.text_field :address, :size => 30, :autofocus => true%>
      </span>
    </div>
        <div class="form-sec-row">
      <%= f.label :phone_no,raw("Telephone No<span style=color:red>*</span>"), :class=>"text"%>
      <span class="in-box">
        <%= f.text_field :phone_no, :size => 30, :autofocus => true, :onkeypress=>"return isNumberKey(event);"%>
      </span>
           <br> <label class="text">&nbsp;</label><span class="in-box"><font color="#858585">(Enter Numbers only)</font></span></br>
    </div>
         <div class="form-sec-row">
      <%= f.label :relation,raw("Relationship<span style=color:red>*</span>"), :class=>"text"%>
      <span class="in-box">
        <%= f.text_field :relation, :size => 30, :autofocus => true%>
      </span>
    </div>
      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box">
          <%= f.submit "Update Reference" ,:class=>"btn2"%>
        </span>
      </div>
    </div>
  </div>
  <%#*</div>%>
  <div class="clear"></div>
  <!--BODY END-->
<%end%>


<div class="clearfix"></div>
