<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
      <!--BODY START-->
  <%#*<div id="Body">%>
  <%#*<div class="form-page">%>
  <%#*<div class="">%>
      <%=f.error_messages%>
      <div class="clearfix">&nbsp;</div>
      <h2>Edit My Profile</h2>
      <div class="form-sec-row">
        <%= f.label :first_name,raw("First Name <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :first_name, :size => 30, :autofocus => true%>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :last_name,raw("Last Name <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :last_name, :size => 30, :autofocus => true%>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :email,raw("Email <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :email, :size => 30, :autofocus => true%>
        </span>
      </div>

      <div class="form-sec-row">
        <%= f.label :username,raw("Display Name <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :username, :size => 30, :autofocus => true%>
          <i>(This name will be used through out the site)</i>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :contact_mobile,raw("Contact Number <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :contact_mobile, :size => 30, :autofocus => true%>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :ic_number,raw("IC Number"), :class=>"text"%>
        <span class="in-box">
          <%= resource.ic_number %>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :city, :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :city, :size => 30, :autofocus => true%>
        </span>
      </div>

      <div class="form-sec-row">
        <%= f.label :state,raw("State <span style=color:red>*</span>"), :class=>"text"%>
        <span class="in-box">
          <%= f.select(:state, options_for_select(State.all.collect {|p| [p.name.upcase, p.id]},resource.state) ,:prompt => "SELECT YOUR STATE")%>
        </span>
      </div>
      <div class="form-sec-row">
        <%= f.label :zipcode, :class=>"text"%>
        <span class="in-box">
          <%= f.text_field :zipcode, :size => 5,:maxlength=>5, :autofocus => true%>
        </span>
      </div>

      <% if !resource.departments.empty? %>
        <div class="form-sec-row">
          <%= f.label :department_id,raw("Department"), :class=>"text"%>
          <span class="in-box">
            <%=resource.departments.first.name%>
          </span>
        </div>
      <% end %>

      <div  class="form-sec-row">
        <%= f.label :avatar , :class=>"text"%>
        <span class="in-box">
          <%= image_tag(resource.avatar_url(:thumb)) if resource.avatar.url.present?%><%= label_tag(resource.avatar_url) if resource.avatar.url.present?%>
  <%#= image_tag(resource.avatar.url) if resource.avatar.url.present?%>
          <%= f.file_field :avatar, :class=>'passfiled'%>
          <%= f.hidden_field :avatar_cache %>
          <br/>
          <%= f.check_box :remove_avatar %>
          <%= f.label :remove_avatar %>
        </span>
      </div>
      <div class="form-sec-row">
        <label class="text">&nbsp;</label>
        <span class="in-box">
          <%= f.submit "Update Profile" ,:class=>"btn2"%>
        </span>
      </div>
    </div>
  </div>
  <%#*</div>%>
  <div class="clear"></div>
  <!--BODY END-->
<%end%>




<%#*</div>%>
<%#*</div>%>
<div class="clearfix"></div>
