<%= form_for(@department) do |f| %>
  <%=f.error_messages%>
  <div class="clearfix">&nbsp;</div>
  <div class="form-sec-row">
    <%= label_tag :agency_id, raw("Agency <span style=color:red>*</span>"), :class=>"text" %>
    <span class="in-box">
      <%if @department.name%>
        <%agency_name = Agency.find(@department.agency_id)%>
        <%= f.select(:agency_id,  options_from_collection_for_select(Agency.active, 'id','name',agency_name.id ),:prompt=>"SELECT AN AGENCY") %>
      <%else%>
        <%= f.select(:agency_id,  Agency.active.collect {|agency| [agency.name, agency.id]},:prompt=>"SELECT AN AGENCY") %>
      <%end%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Department Name: <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :name%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Address <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :address %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Telephone Number <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :telephone_number%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Fax Number</label>
    <span class="in-box">
      <%= f.text_field :fax_number%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Is Active</label>
    <span class="in-box">
      <%= f.check_box :is_active %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">&nbsp;</label>
    <span class="in-box"><%= f.submit :class=>"btn2", :value=>@department.new_record? ? "Create" : "Update"%></span>
  </div>
<%end%>
