<%if !request.xhr?%>
  <div class="CenterNav">
    <h2 class="b-head">Manage Departments</h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <div class="create-user">
      <div class="cu-c1"><a href="/department_users/new" title="Create Department Admin"><img src="../images/add_user.jpg" width="17" height="16" alt="img" /> Create Department Admin</a></div>
      <%=hidden_field_tag :department_id, ""%>
    </div>
  <%end%>

  <%@users.each do |user|%>
    <div class="manage-user-row box">
      <div class="mu-c1">
        <%=link_to image_tag(user.avatar_url, :width=>"60", :height=>"60"), user_path(:id=>user.id), :title=>"The Melaka  State Office of Land and Mines" if user.avatar?%>
      </div>
      <div class="mu-c2">
        <p class="head1">
          <b><%=user.full_name%></b><br/>
          <%=user.ic_number%><br/>
          <b><%=user.email%></b>
        </p>
      </div>
      <div class="mu-c3">
        <%if user.status=="Active"%>
          <%=  link_to image_tag("../images/deactive.jpg", :width=>"14", :height=>"14")+"Deactive" , update_status_users_path(:id=>user.id,:status=>"Deactivate",:department_id=>params[:department_id]), :confirm => 'Do you want to really deactivate this user?', :method=>:post, :title=>"Deactive" %>
        <%elsif user.status=="Deactive" || user.status.nil?%>
          <%=  link_to image_tag("../images/active.jpg", :width=>"14", :height=>"14")+"Activate" , update_status_users_path(:id=>user.id,:status=>"Activate",:department_id=>params[:department_id]), :confirm => 'Do you want to really Activate this user?', :method=>:post, :title=>"Activate" %>
        <%end%>
        <%=  link_to image_tag("../images/delete.jpg", :width=>"14", :height=>"14")+"Delete", user_path(user), :confirm => 'Do you want to Proceed?', :method =>:delete , :title=>"Delete" %>
      </div>
    </div>
  <%end%>

<%#*<div><%= paginate @units %>
</div>
