<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head">Requisition For Software Installation Details</h2>


<%#=error_messages%>
    <div class="clearfix">&nbsp;</div>
<%#*<div class="CenterNav">%>

    <div class="form-sec">
<%# if @manager.present? %>
      <font color="#369" size="3"><br/><b><u>Applicant Information :-</u><br/><br/></b></font>

      <% @dept = Department.find_by_id(current_department) %>
      <% @agency = Agency.find_by_id(@dept.agency_id) %>
       <% @software_installation = SoftwareInstallation.find(@software_installation_detail.software_installation_id) %>

      <% @user = User.find_by_id(@software_installation_detail.user_id) %>
      <div class="form-sec-row">
        <label class="text">Agency Name</label>
        <span class="in-box"><%= @agency.name  %></span>
      </div>
      <div class="form-sec-row">
        <label class="text">Department Name</label>
        <span class="in-box">
          <%= @dept.name  %></span>
      </div>
      <div class="form-sec-row">
        <label class="text">User Name</label>
        <span class="in-box"><%= @user.username %></span>
      </div>
      <div class="form-sec-row">
        <label class="text">Contact Mobile</label>
        <span class="in-box"><%= @user.contact_mobile  %></span>
      </div>

      <div class="form-sec-row">
        <label class="text">IC Number</label>
        <span class="in-box">
          <%= @user.ic_number %></span>
      </div>

      <div class="form-sec-row">
        <label class="text">E - Mail</label>
        <span class="in-box">
          <%= @user.email %></span>
      </div>

      <h2 class="b-head"></h2>

      <div class="form-sec-row">
        <label class="text">Ticket No</label>
        <span class="in-box"><font color="red" size="3"><b>&nbsp;<%= @software_installation_detail.id %>/<%=Time.now.year%></b></font></span>
              </div>

              <div class="form-sec-row">
                <label class="text">Date of Application</label>
                <span class="in-box"><%= @software_installation.created_at.strftime("%a %d %b %Y %I:%M %p")%></span>
              </div>

              </div>
     <div class="form-sec-row">
                  <% if @software_installation.software_attachment.present? %>
                    <label class="text">Attachment</label>
                    <% image = @software_installation.software_attachment.url(:profile).split(".").last %>
                    <% if image == "gif" || image == "jpg" || image == "jpeg" || image == "png" %>
                      <span class="in-box">
                        <%=image_tag(@software_installation.software_attachment.url(:profile),:title=>@software_installation.software_attachment)%>
                      <%else%>
          <b><%= link_to 'Download File', download_attachments_software_installations_path(:id=>@software_installation.id) if @software_installation.software_attachment  %></b>

                      </span>
                    <%end%>
                  <%end%>
                </div>
              <h2 class="b-head"></h2>

              <div class="form-sec-row">
                <label class="text">Type of Facility</label>
                <span class="in-box">
                 
                  <%requisition_name = RequisitionType.find(@software_installation.requisition_type_id)%>
                  <%= requisition_name.name %>
                </span>
              </div>
              
              <div class="form-sec-row">
                <label class="text">Name</label>
                <span class="in-box">
                  <%= @software_installation_detail.name %></span>
              </div>
              
              <div class="form-sec-row">
                <label class="text">Position</label>
                <span class="in-box">
                  <%= @software_installation_detail.position %></span>
              </div>
              <font color="#369" size="3"><br/><b><u>Officer Action :-</u><br/><br/></b></font>
              <div class="form-sec-row">
                <label class="text">Booking Status</label>
                <span class="in-box">
                  <%= @software_installation.status %></span>
              </div>
              <%@dept = Department.find(default_department)%>
              <%@users = @dept.users%>
              <%#*<div class="form-sec-row">%>
                <%#*<label class="text">Forward To</label>%>
                <%#*<span class="in-box">%>
                  <%#= @software_installation.forward_to %></span>
              <%#*</div>%>

              <div class="form-sec-row">
                <label class="text">Grade</label>
                <span class="in-box">
                  <%= @software_installation_detail.grade %></span>
              </div>
              <h2 class="b-head"></h2>
<div class="form-sec-row2">
    <label class="text">&nbsp;</label>
    <span class="in-box2">
      <%= link_to "Back", :back, :class=>"btn1 mr2"%>
    </span>
  </div>
              </div>
              </div>