<%if !request.xhr?%>
  <div class="CenterNav">
    <h2 class="b-head">Manage Vendors</h2>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <div class="create-user">
      <div class="cu-c1"><a href="/vendors/new" title="Create Agency"><img src="../images/add_user.jpg" width="17" height="16" alt="img" /> Create Vendor</a></div>

    </div>
  <%end%>
  <div id="div_ajax" >
    <%if @vendors && !@vendors.empty?%>
        <%@vendors.each do |vendor|%>
          <div class="manage-user box">
            <div class="manage-user-row box">
              <div class="mu-c1">
              </div>
              <div class="mu-c2">
                <p class="head1"><%=vendor.name%></p>
              </div>
              <div class="mu-c3">
                <%= link_to image_tag("../images/edit.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Edit", :action=>'edit', :id=>vendor.id.to_i%>
                <%if vendor.is_active %>
                  <%= link_to image_tag("../images/deactive.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Deactivate", update_status_vendors_path(:id=>vendor.id, :status=>"Deactivate"), :confirm => 'Do you want to really deactivate this vendor?', :method=>:post, :title=>"Deactive" %>
                <%else%>
                  <%= link_to  image_tag("../images/active.jpg",:width=>"14",:height=>"14",:alt=>"img") +"Activate",  update_status_vendors_path(:id=>vendor.id,:status=>"Activate"), :confirm => 'Do you want to really Activate this vendor?', :method=>:post, :title=>"Activate"%>
                <%end%>
               
              </div>
            </div>
            <div class="clear"></div>
          </div>
        <%end%>
    <%else%>
      No Vendors Available
    <%end%>
<%#*<div><%= paginate @units %>
  </div>
</div>