<%= form_for(@resource) do |f| %>

  <div class="form-sec-row">
    <label class="text">Resource Category <span style=color:red>*</span></label>
    <span class="in-box">
      <%= select("resource_other","category_id",  Category.where("id not in (6,7,8)").active.collect {|category| [category.name, category.id]},:prompt=>"SELECT A CATEGORY") %>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Resource Sub Category <span style=color:red>*</span></label>
    <%sub_category= SubCategory.where("is_active = true and deleted = false and category_id not in (6,7,8)") %>
    <span class="in-box">
      <%= select("resource_other","sub_category_id",  sub_category.collect {|category| [category.name, category.id]},:prompt=>"SELECT A SUB CATEGORY") %>
    </span>
  </div>

  <%= hidden_field_tag :resource_type, ("others") %>

  <div class="form-sec-row">
    <label class="text">Name <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :resource_no, :id=>"resource_name_others"%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Description <span style=color:red>*</span></label>
    <span class="in-box">
      <%= f.text_field :description, :id=>"resource_description_others"%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Is Returnable</label>
    <span class="in-box">
      <%= f.check_box :is_returnable%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">Avail facility as a resource</label>
    <span class="in-box">
      <%= f.check_box :is_facilty_avail%>
    </span>
  </div>
  <div class="form-sec-row">
    <label class="text">&nbsp;</label>
    <span class="in-box">
      <%= f.submit :class=>"btn2", :id=>"resource_other_submit", :value=>'Create'%>
    </span>
  </div>
<%end%>