<div class="clearfix">&nbsp;</div>
<div class="CenterNav">
  <% if current_user.is_department_admin? %>
    <h2 class="b-head">Resource Approval List</h2>
  <%else%>
    <h2 class="b-head">Resource Process List</h2>
  <%end%>
  <div id="div_ajax" >
    <%if @booking && !@booking.empty?%>
      <%@booking.each do |resource|%>
        <div class="manage-user box">
          <div class="manage-user-rows box">
            <div class="m-c1"><b>Name</b>
            </div>
            <div class="m-c2">
              <% @user = User.find_by_id(resource.user_id) %>
              <%= @user.username %>
            </div>
            <div class="m-c3">
              <% if resource.status == "New"%><b><font color='#FFA500'><%= "#{resource.status}" %></font></b><% elsif resource.status == "Approved" || resource.status == "Processed"  %>  <b><font color='#329C20'><%= "#{resource.status}" %> </font></b><% elsif resource.status == "Declined" || resource.status == "Returned"  %>  <b><font color='red'><%= "#{resource.status}" %> </font></b><% end %>
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>Room Name</b>
            </div>
            <div class="m-c2">
              <% @name = SubCategory.find_by_id(resource.sub_category_id)%>
              <%=@name.name%>
            </div>

            <% time = Setting.find_by_id(1) %>
            <% if time.present? %>
              <% temp = time.timeline.strftime("%H:%M:%S")%>
              <%dt = DateTime.parse(temp)%>
              <% seconds = dt.hour * 3600 + dt.min * 60 %>

              <div class="m-c3">
                <% if @approve.present?  && @approve.user_id == current_user.id && resource.created_at > (Time.now-seconds) %>
                  <span class="in-box">
                    <% if resource.status == "New" %>
                      <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <% elsif @approver_second.present?  && @approver_second.user_id == current_user.id && resource.created_at > (Time.now-2*seconds)%>
                  <span class="in-box">
                    <% if resource.status == "New" %>
                      <% val = (resource.created_at > (Time.now-seconds))  %>
                      <% if !val.present? %>
                        <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                      <%end%>
                    <%end%>
                  </span>
                <%elsif current_user.is_department_admin? &&  !@approve.present? %>
                  <span class="in-box">
                    <% if resource.status == "New" %>
                      <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_resource_manager?%>
                  <span class="in-box">
                    <% if resource.status == "Approved" %>
                      <%= link_to "Process",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%elsif resource.user_returned_status? && resource.status != "Returned" && resource.status != "Declined" %>
                      <%= link_to "Return",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%end%>
              </div>
            <%else%>
              <div class="m-c3">
                <% if @approve.present?  && @approve.user_id == current_user.id %>
                  <span class="in-box">
                    <% if resource.status == "New" %>
                      <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <% elsif @approver_second.present?  && @approver_second.user_id == current_user.id %>
                  <span class="in-box">
                    <% if !val.present? %>
                      <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_department_admin? &&  !@approve.present? %>
                  <span class="in-box">
                    <% if resource.status == "New" %>
                      <%= link_to "Approve",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%elsif current_user.is_resource_manager?%>
                  <span class="in-box">
                    <% if resource.status == "Approved" %>
                      <%= link_to "Process",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%elsif resource.user_returned_status? && resource.status != "Returned" && resource.status != "Declined" %>
                      <%= link_to "Return",resource_booking_approval_resource_bookings_path(:id => resource.id), :class=>"btn2 in-btn2"%>
                    <%end%>
                  </span>
                <%end%>
              </div>
            <%end%>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>Ticket No</b>
            </div>
            <div class="m-c2">
              <font color="red"><b>&nbsp;<%=resource.id%>/<%=Time.now.year%></b></font>
            </div>
            <div class="m-c3">
              <b><font color="#336699"><%= link_to "Show Info",resource_booking_path(:id => resource.id), :method=>:get%></font></b>
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>From Date</b>
            </div>
            <div class="m-c2">
              &nbsp;<%= resource.requested_from_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>To Date</b>
            </div>
            <div class="m-c2">
              &nbsp;<%= resource.requested_to_date.to_datetime.strftime("%d-%m-%Y %H:%M %p")%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>

          <div class="manage-user-rows box">
            <div class="m-c1"><b>Date of Application</b>
            </div>
            <div class="m-c2">
              &nbsp;<%= resource.created_at.localtime.strftime("%d-%m-%Y %H:%M %p")%>
            </div>
            <div class="m-c3">
            </div>
          </div>
          <div class="clear"></div>



        </div>
        <h2 class="b-head"></h2>

      <%end%> <div class="manage-user-rows box"><br/><br/>
  <%#= paginate @list_network_point %></div>
      <%else%>
      No Resources Available
    <%end%>
  </div>
</div>