<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Intranet Portal Melaka State Government</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
<%#= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'reset' %>
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
     <!--[if IE 8]><%= stylesheet_link_tag 'ie8' %><![endif]-->
    <!--BANNER SLIDESHOW-->
    <%= stylesheet_link_tag 'global' %>
    <%= javascript_include_tag 'jquery.min' %>
    <%if controller_name.to_s!="sessions"%>
      <%= javascript_include_tag 'jquery_ui.js'%>
      <%= stylesheet_link_tag 'jquery-ui' %>
    <%end%>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'slides.min.jquery' %>
    <%= javascript_include_tag 'slide' %>
    <!--WATERMARK--> <%= init_tinymce_hammer_if_required %>
    <%= javascript_include_tag 'ui.core' %>
    <%= javascript_include_tag 'ui.watermark' %>
    <!--HEADER DROPDOWN-->
    <%= javascript_include_tag 'jquery.dropdownPlain' %>
    <%= stylesheet_link_tag 'style_dropdown' ,:media=>"screen, projection" %>
    <%= javascript_include_tag 'application' %>
    <%if controller_name.to_s != 'sessions'  %>
      <!--SIDE PANEL-->
      <%= stylesheet_link_tag 'side_panel'%>
      <%= javascript_include_tag 'easing' %>
      <script type="text/javascript">
        $().ready(function(){
          $("a#controlbtn").click(function(e) {
            e.preventDefault();
            var slidepx=$("div#linkblock").width() + 0;
            if ( !$("div#maincontent").is(':animated') ) {
              if (parseInt($("div#maincontent").css('marginLeft'), 10) < slidepx) {
                $(this).removeClass('close').html('Side Panel');
                $('.pageContainer').removeClass('bg2');
                $('.leftNav').removeClass('toIE7');
                margin = "+=" + slidepx;
              } else {
                $(this).addClass('close').html('Side Panel');
                margin = "-=" + slidepx;
                $('.pageContainer').addClass('bg2');
                $('.leftNav').addClass('toIE7');
              }
              $("div#maincontent").animate({
                marginLeft: margin
              }, {
                duration: 'slow',
                easing: 'easeOutQuint'
              });
            }
          });
        });
      </script>
    <%end%>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!--BODY START-->
    <%=render :partial=>'shared/header'%>
    <%if  current_user && !current_user.blank? %>
      <% if current_user.sign_in_count >= 1%>
        <%=render :partial=>'shared/right_navigation'%>
        <%=render :partial=>'shared/left_navigation'%>
      <%end%>
      <%if flash[:alert]%>
        <div class="error"><%= flash[:alert]%></div>
      <%end%>
      <% if notice %>
        <div class="success"><%= flash[:notice] %></div>
      <%end%>
    <%end%>
    <%= yield %>
    <%=render :partial=>'shared/footer'%>
  </body>
</html>
